

.hero {
    position: relative;
    z-index: 1;
    height: 100vh;
    max-height: 1080px;
    background-image: url(static/img/banner2.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    display: table;
    width: 100%;
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, #28e, #e14);
    opacity: 0.9;
    z-index: -1;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 2em;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.hero .content {
    display: table-cell;
    vertical-align: middle;
}


h2 {
    font-size: 2rem;
    line-height: 0.5;
}

a {
    color: #e14;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main section {
    padding: 1rem;
    min-height: 70vh;
}

.feature {
    background-image: url(http://unsplash.it/g/1280/722);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
}

.feature:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, #1eb, #e82);
    opacity: 0.9;
    z-index: -1;
}

button.cta {
    padding: 0.75em 1.5em;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: 200ms ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

button.cta:hover {
    color: #e14;
    box-shadow: 0 0.25em 10px rgba(0, 0, 0, 0.2);
}

/* Customização IMDAZ */

.brand {
    font-family: var(--font-logo);
    font-size: 2em;
    font-weight: 700;
}

.brand {
    float: left;
    line-height: 60px;
    color: white;
}

.brand span {
    font-size: 0.9em;
    font-weight: 700;
}

.brand img {
    vertical-align: middle;
    height: calc(60px - 1rem);
    margin-right: 0.5rem;
}

.nav li a:hover {
    color: #C1325F;
}


/* crad section customization  */
.card_section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapper_card{
    margin: 0;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .tittle_page{
    font-family: var(--font-logo);
  }
  
  .tittle_card{
    font-family: var(--font-emphasis);
    font-size: 2.5rem;
    color: #444;
    text-align: center;
    margin: 2rem 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);

  }
  
  .wrapper_card{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols_card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .col_card{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container_card{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
  }
  
  .front_card,
  .back_card{
    background-size: cover;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  
  .back_card{
    background: #78f3bf;
    background: -webkit-linear-gradient(to right, #78f3bf, #63eaf7);
    background: -o-linear-gradient(to right, #78f3bf, #63eaf7);
    background: linear-gradient(to right, #78f3bf, #63eaf7);
    color: #000;
  }
  
  .front_card:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container_card:hover .front_card,
  .container_card:hover .back_card{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back_card{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner_card{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container_card .back_card{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container_card .front_card{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container_card:hover .back_card{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container_card:hover .front_card{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front_card .inner_card p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front_card .inner_card p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front_card .inner span{
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .main .card_section{
        height: 100%;
    }
    .col_card{
      width: calc(33.333333% - 2rem);
    }
    .tittle_card{
      font-size: 1.5rem;
      line-height: 1.2;
    }
    .tittle_page{
        font-size: 1.3rem;
    }
    .hero h1{
        font-size: 3rem;
    }
  }
  
  @media screen and (max-width: 48rem){
    .col_card{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col_card{
      width: 90%;
      margin: 0 0 2rem 0;
    }
  }

  .description_P{
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: var(--font-step);
    line-height: 1.2;
  }
  .section_p{
    line-height: 2.2;
  }

  .video_content {
    position: relative;
    padding-bottom: 56.25%; /* Proporção de aspecto do vídeo (9:16) */
    overflow: hidden;
}

.video_content iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
.btn_learnmore{
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.4);
    color:#f8f8f8;
    padding: 1rem 2rem;
    cursor:pointer;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}
.btn_donation{
    width: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.4);
    height: 80%;
    margin:5% 0;
    cursor:pointer;
    border-radius: 5px;
}

.p_donate{
    font-family: var(--font-emphasis);
    font-size: 1rem;
    width: 90%;
}
.btn_learnmore:hover{
    transform: scale(1.1);
}
