.main section {
    padding: 0;
    min-height: 70vh;
}
.first_content {
    position: relative;
    z-index: 1;
    height: 15vh;
    background-image: url(../img/banner2.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    width: 100%;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.first_content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, #28e, #e14);
    opacity: 0.9;
    z-index: -1;
}
.container_contact{
    padding-top: 4%;
    padding-bottom:4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato {
    padding-top: 4%;
    display: flex;
    text-align: left;
    justify-content: flex-end;    
    flex-direction: column;
    margin-left:40%;
    margin-right:auto;   
    line-height: .5;
}
/*media query mobile */
@media (max-width: 768px) {
    .contato {
       margin-left:5%;
    }
    .container_contact{
        width: 90%;
    }

}

.container_contact {
    max-width: 888px;
    margin: 0 auto;
  }
  
  .form-contact {
    width: 100%;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    
  }
  
  .form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #e14;
    display: block;
    border: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #e14;
    border-right: 1px solid #e14;
    transition: .1s;
  }
  
  .form-contact-button:hover {
    opacity: 1;
  }

  .btn_donation{
    cursor: pointer;
    transition: .1s;
    padding: 10px 20px;
    opacity: .8;
    background: #e14;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #e14;
    border-right: 1px solid #e14;
    height: 80%;
    margin:5% 0;
    cursor:pointer;
    border-radius: 5px;
    color: white;

  }

  .btn_donation:hover {
    opacity: 1;
  }
  .btn_center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding-bottom: 2%;
    
  }
  .map_container iframe{
    border-radius: 5px;
  }
