.main section {
    padding: 0;
    min-height: 70vh;
}
.first_content {
    position: relative;
    z-index: 1;
    height: 15vh;
    background-image: url(/static/img/banner2.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    width: 100%;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.first_content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, #28e, #e14);
    opacity: 0.9;
    z-index: -1;
}

.description_P{
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: var(--font-step);
    line-height: 1.5;
    margin : 0 20%;
}

.container_colab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1000px;
    margin: auto;
}

.container_colab p {
    flex: 1 1 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    font-family: var(--font-step);
}


.container_mosaic {
    padding-top: 3%;
    width: 560px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
}
/* media query mobile*/

@media (max-width: 768px) {
    .container_mosaic {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        overflow: hidden;
    }
}
.pad_top{
    padding-top:3%;
    padding-bottom: 1%;
    font-size: 1.2rem;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.item {
    float: left;
    width: 60px;
    height: 60px;
}
.item img {
    display: block;
    width: 100%;
    border-radius:50%;
}
.item img::hover{
 transform: scale3d(1, 1, 1);
}
.item {
    -webkit-animation: zoom-out 2s infinite both;
    animation: zoom-out 2s infinite both;
 
}
.item:nth-child(1) {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}
.item:nth-child(2) {
    -webkit-animation-delay: 5854ms;
    animation-delay: 5854ms;
}
.item:nth-child(3) {
    -webkit-animation-delay: 1801ms;
    animation-delay: 1801ms;
}
.item:nth-child(4) {
    -webkit-animation-delay: 3731ms;
    animation-delay: 3731ms;
}
.item:nth-child(5) {
    -webkit-animation-delay: 645ms;
    animation-delay: 645ms;
}
.item:nth-child(6) {
    -webkit-animation-delay: 560ms;
    animation-delay: 560ms;
}
.item:nth-child(7) {
    -webkit-animation-delay: 1900ms;
    animation-delay: 1900ms;
}
.item:nth-child(8) {
    -webkit-animation-delay: 5399ms;
    animation-delay: 5399ms;
}
.item:nth-child(9) {
    -webkit-animation-delay: 4639ms;
    animation-delay: 4639ms;
}
.item:nth-child(10) {
    -webkit-animation-delay: 552ms;
    animation-delay: 552ms;
}
.item:nth-child(11) {
    -webkit-animation-delay: 2449ms;
    animation-delay: 2449ms;
}
.item:nth-child(12) {
    -webkit-animation-delay: 4363ms;
    animation-delay: 4363ms;
}
.item:nth-child(13) {
    -webkit-animation-delay: 3479ms;
    animation-delay: 3479ms;
}
.item:nth-child(14) {
    -webkit-animation-delay: 2363ms;
    animation-delay: 2363ms;
}
.item:nth-child(15) {
    -webkit-animation-delay: 978ms;
    animation-delay: 978ms;
}
.item:nth-child(16) {
    -webkit-animation-delay: 2346ms;
    animation-delay: 2346ms;
}
.item:nth-child(17) {
    -webkit-animation-delay: 1402ms;
    animation-delay: 1402ms;
}
.item:nth-child(18) {
    -webkit-animation-delay: 3451ms;
    animation-delay: 3451ms;
}
.item:nth-child(19) {
    -webkit-animation-delay: 1290ms;
    animation-delay: 1290ms;
}
.item:nth-child(20) {
    -webkit-animation-delay: 3058ms;
    animation-delay: 3058ms;
}
.item:nth-child(21) {
    -webkit-animation-delay: 1314ms;
    animation-delay: 1314ms;
}
.item:nth-child(22) {
    -webkit-animation-delay: 1586ms;
    animation-delay: 1586ms;
}
.item:nth-child(23) {
    -webkit-animation-delay: 5779ms;
    animation-delay: 5779ms;
}
.item:nth-child(24) {
    -webkit-animation-delay: 939ms;
    animation-delay: 939ms;
}
.item:nth-child(25) {
    -webkit-animation-delay: 297ms;
    animation-delay: 297ms;
}
.item:nth-child(26) {
    -webkit-animation-delay: 3289ms;
    animation-delay: 3289ms;
}
.item:nth-child(27) {
    -webkit-animation-delay: 1910ms;
    animation-delay: 1910ms;
}
.item:nth-child(28) {
    -webkit-animation-delay: 1529ms;
    animation-delay: 1529ms;
}
.item:nth-child(29) {
    -webkit-animation-delay: 3374ms;
    animation-delay: 3374ms;
}
.item:nth-child(30) {
    -webkit-animation-delay: 4091ms;
    animation-delay: 4091ms;
}
.item:nth-child(31) {
    -webkit-animation-delay: 3385ms;
    animation-delay: 3385ms;
}
.item:nth-child(32) {
    -webkit-animation-delay: 2539ms;
    animation-delay: 2539ms;
}
.item:nth-child(33) {
    -webkit-animation-delay: 3694ms;
    animation-delay: 3694ms;
}
.item:nth-child(34) {
    -webkit-animation-delay: 2290ms;
    animation-delay: 2290ms;
}
.item:nth-child(35) {
    -webkit-animation-delay: 3337ms;
    animation-delay: 3337ms;
}
.item:nth-child(36) {
    -webkit-animation-delay: 4761ms;
    animation-delay: 4761ms;
}
.item:nth-child(37) {
    -webkit-animation-delay: 1645ms;
    animation-delay: 1645ms;
}
.item:nth-child(38) {
    -webkit-animation-delay: 1461ms;
    animation-delay: 1461ms;
}
.item:nth-child(39) {
    -webkit-animation-delay: 4958ms;
    animation-delay: 4958ms;
}
.item:nth-child(40) {
    -webkit-animation-delay: 2969ms;
    animation-delay: 2969ms;
}
@-webkit-keyframes zoom-out {
    from, to {
        -webkit-transform: scale3d(0, 0, 0);
   }
    45%, 55% {
        -webkit-transform: scale3d(1, 1, 1);
   }
}
@keyframes zoom-out {
    from, to {
        transform: scale3d(0, 0, 0);
   }
    45%, 55% {
        transform: scale3d(1, 1, 1);
   }
}

.title_card{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font-emphasis);
}



