.main section {
    padding: 0;
    min-height: 70vh;
    font-family: var(--font-step);
}
.first_content {
    position: relative;
    z-index: 1;
    height: 15vh;
    background-image: url(../../../img/banner2.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    width: 100%;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.first_content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, #28e, #e14);
    opacity: 0.9;
    z-index: -1;
}

.projects_content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top:3%;

}

.title_projects{
    font-family: var(--font-emphasis);
}

.img_project{
   height: 80%;
    width:70%;
    border-radius: 4px;
}
  
  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .card{
    transition:0.5s;
    cursor:pointer;
    border-radius: 4px;
    
  }
  .card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    padding:0 3%;
  }
  .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height: 100%;
    padding:0 3%;
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

  .footer_page{
    margin-bottom : 4%;
    padding-bottom:1px;
  }
